<h1><%= pluralize(@jobs.size, "Job") %></h1>
<h1><%= link_to "Post a Job", new_job_path %></h1>

<% @jobs.each do |job| %>
<article>
<header>
<h2><%= job.company %> - <%= link_to(job.title, job_url(job)) %></h2>
</header>
<p><%= truncate(job.description, length: 40, seperator: " ") %></p>
<table>
<tr>
<th>Skill:</th>
<td><%= job.skill %></td>
</tr>
<tr>
<th>Location:</th>
<td><%= job.location %></td>
</tr>
</table>
</article>
<% end %>