<article>
<header>
<h2><%= @job.company %> - <%= @job.title %></h2>
</header>
<p><%= @job.description %></p>
<table>
<tr>
<th>Skill:</th>
<td><%= @job.skill %></td>
</tr>
<tr>
<th>Location:></th>
<td><%= @job.location %></td>
</tr>
</table>
</article>

<%= link_to 'All Jobs', jobs_path %> | <%= link_to "Edit", edit_job_path(@job) %>