<%= form_for(@employer) do |f| %>
  <%= render "shared/errors", object: @employer %>
  <fieldset>

      <p class="required">


        <%= f.text_field :name, size: 50, autofocus: true, placeholder: "Full name" %>
      </p>
      <p class="required">

          <%= f.text_field :username, size: 50,
                    placeholder: "Username Alphanumeric characters only!" %>
</p>
       <p class="required">

          <%= f.text_field :company_name, size: 50,
                    placeholder: "Company Name!" %>
</p>
      <p class="required">

        <%= f.email_field :email, size: 50, placeholder: "Email Address" %>
      </p>
      <p class="required">

        <%= f.password_field :password, size: 50, placeholder: "Password 8 or more characters" %></p>

      <p class="required">
        <%= f.password_field :password_confirmation, size: 50, placeholder: "Confirm Password" %></p>

    <p>
      <% if @employer.new_record? %>
        <%= f.submit "Create Account" %>
      <% else %>
        <%= f.submit "Update Account" %>
      <% end %>
    </p>
  </fieldset>
<% end %>
